{% extends "/base/base.html" %}

{% block content %}

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						<thead class="thead-primary">
							
						<!--Aqui se imprime el titulo de la agenda-->
						<tr>
							{% for f in stamp %}
								<th>{{ f }}</th>
							{% endfor %}
						</tr>
						</thead>
						<tbody>
						<!--Macro de _macro para imprimir la cantidad de N veces el registro de la agenda-->
						<!-- Form para insertar de las tareas -->
						
						{% from '_macro.html' import show_schedule %}
									
						{{ show_schedule(result, row, column) }}
						
					<tr id="dataHide">
						<form name="sentData" id="sentData" method="POST" >
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

							{% from '_macro.html' import render_schedule   %}
								{{ render_schedule(form.id_ot, size='7', class='') }}

								{{ render_schedule(form.num_ticket, size='6', class='') }}

								{{ render_schedule(form.name_nap, class='') }}

								{{ render_schedule(form.issue, class='') }}

								{{ render_schedule(form.phase, class='') }}

								{{ render_schedule(form.coord, size='15', class='') }}

								{{ render_schedule(form.dateDemand, size='15px') }}

								{{ render_schedule(form.affect_clients, size='10', class='') }}

								<td><input type="text" name="dias_pen" id="dias_pen"></td>

								{{ render_schedule(form.priority, class="") }}

								{{ render_schedule(form.team, onchange='cambia_cuadrilla()') }}

								{{ render_schedule(form.cuadrilla) }}

								{{ render_schedule(form.dep) }}

								{{ render_schedule(form.zona) }}

								{{ render_schedule(form.barrio) }}

								{{ render_schedule(form.status, class="") }}

								{{ render_schedule(form.dateDone, size='14px') }}

								{{ render_schedule(form.reason, class='') }}

								{{ render_schedule(form.downUsers, class='') }}

								
								<td><button type="reset" form="sentData" id="reset" class="btn btn-primary">Reset</button></td>
								{{ render_schedule(form.insertQuery, class='btn btn-primary', form='sentData', id='insertQuery') }}
								<!-- <td>
									<input type="text" name="comentario" id="comment" size='15' required>
								</td> -->
								
						</form>
					</tr>

						<!-- Form para update de las tareas -->

						<tr id="data">
							<form name="dataSent" id="dataSent" method="POST" >
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								{% from '_macro.html' import render_schedule   %}
									{{ render_schedule(form.id_ot, size='7', class='') }}

									{{ render_schedule(form.num_ticket, size='6', class='') }}

									{{ render_schedule(form.name_nap, class='') }}

									{{ render_schedule(form.issue, class='') }}

									{{ render_schedule(form.phase, class='') }}

									{{ render_schedule(form.coord, size='15', class='') }}

									{{ render_schedule(form.dateDemand, size='15px') }}

									{{ render_schedule(form.affect_clients, size='10', class='') }}

									<td><input type="text" name="dias_pen" id="dias_pen"></td>

									{{ render_schedule(form.priority, class="") }}

									{{ render_schedule(form.team, onchange='cambia_cuadrilla()') }}

									{{ render_schedule(form.cuadrilla) }}

									{{ render_schedule(form.dep) }}

									{{ render_schedule(form.zona) }}

									{{ render_schedule(form.barrio) }}

									{{ render_schedule(form.status, class="") }}

									{{ render_schedule(form.dateDone, size='14px') }}

									{{ render_schedule(form.reason, class='') }}

									{{ render_schedule(form.downUsers, class='') }}
									
									<td><button type="reset" id="reset2" class="btn btn-primary">Reset</button></td>
									<td><button type="submit" form="dataSent" class="btn btn-primary" id="updateQuery" name="updateQuery">Modificar</button></td>
									
							</form>
						</tr>

						</tbody>
					</table>

					
					</div>
					<!--Botones que rederidigen a las otras apps-->
					<p><button type="submit" class="btn btn-primary" id="show">Nueva Tarea</button></p>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/multipleSelect.js"></script>
	<script src="../static/js/display.js"></script>
	<script src="../static/js/update.js"></script>
	<script src="../static/js/delete.js"></script>

	
{% endblock %}