<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hansa</title>
</head>
<body>

    <p>Buenas, favor realizar la verificacion del siguiente caso.</p>
    <p></p>
    <p>OT: {{ values['id_ot'] }}</p>
    <p>Ticket: {{ values['num_ticket'] }}</p>
    <p>Fecha: {{ values['datePicker'] }}</p>
    <p>{{ values['fase'] }}</p>
    <p></p>
    <p></p>
    <p>{{ values['issue'] }}: {{ values['name_nap'] }}</p>
    <p>Clientes sin servicio: {{ values['affect_clients'] }}</p>
    <p>Coordenadas: {{ values['coord'] }}</p>
    <p></p>
    <p></p>
    <p>Causa: </p>
    <p>Materiales utilizados: </p>
    <p>Adjuntar fotos del antes y el después del elemento de red y la potencia del NAP</p>
    <p></p>
    <p>Saludos.</p>
    <p></p>
    <p></p>

</body>
</html>