<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agenda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style type="text/css">
		table, tr, th, td{
			border: 0.5px solid;
			border-collapse: collapse;
			width: 100%;
			font-family: Arial, Helvetica, sans-serif;
		}
		th{
			background-color: #04AA6D;
			color: white;
		}
		th, td{
			padding: 10px;
			text-align: left;
		}
		td{
			color: black;
		}
	</style>
</head>
<body>

	<h2 class="heading-section">Agenda General</h2>
	<h4 class="text-center mb-4">OFS Red</h4>

	<table>
		<thead>				
			<!--Aqui se imprime el titulo de la agenda-->
			<tr>
				<th>OT</th>
				<th>Ticket</th>
				<th>Nap</th>
				<th>Inconveniente</th>
				<th>Fase</th>
				<th>Coordenadas</th>
				<th>Fecha de Reclamo</th>
				<th>Clientes sin servicio</th>
				<th>Dias pendientes</th>
				<th>Prioridad</th>
				<th>Team</th>
				<th>Cuadrilla</th>
				<th>Departamento</th>
				<th>Zona</th>
				<th>Barrio</th>
				<th>Estado</th>
				<th>Fecha de resolucion</th>
				<th>Motivo</th>
				<th>Afectacion</th>
				<th>Status</th>
			</tr>
		</thead>    
		<tbody>
			<!--Macro de _macro para imprimir la cantidad de N veces el registro de la agenda-->
			{% from '_macro.html' import show_table %}
			{{ show_table(result, row, column) }}

		</tbody>
	</table>

    
    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">&copy; Nicolas Ravetti</p>
            </div>
        </div>
    </footer>

</body>
</html>